.Inspector {
    width: 100%;

    table {
        width: 100%;
        background: #eee;
        color: #000;
        padding: 6pt;
        border-radius: 6pt;
        border-collapse: collapse;

        th {
            padding: 0.5em;
        }

        tbody tr {
            border-top: 1px solid #aaa;
            margin: 1em;
            border-radius: inherit;
        }

        td {
            min-width: 2em;
            padding: 0.3em;
        }

        .id {
            font-weight: bold;
            font-style: italic;
        }

        input {
            width: 100%;
            max-width: 12em;
            margin: 0;
            padding: 0;
            border: 1px solid #aaa;
            text-align: center;

            -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            width: 6ch;
        }

        .space {
            min-width: 0;
            width: 1em;
        }

        button {
            line-height: 100%;
            padding: 0pt;
            min-height: 0;
            min-width: 0;
        }
    }

    .selected {
        background-color: #aaf;
    }
}
