.App {
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
  padding: 12pt;

  .BlockCanvas {
    width: 66%;
  }

  .BlockButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 6pt;

    button {
      width: 100%;
    }
  }
}

.App > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}